In [1]:
import requests
import pandas as pd

In [2]:
endpoint= "https://api.worldbank.org/v2/country/all/indicator/NY.GDP.PCAP.PP.KD"

In [4]:
params= {"format": "json", "per_page": 20000}

In [5]:
res= requests.get(endpoint, params=params).json()

In [7]:
gdp_df =pd.json_normalize(res[1])

In [8]:
print(gdp_df.columns.tolist())

['countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal', 'indicator.id', 'indicator.value', 'country.id', 'country.value']

In [9]:
gdp_df.head(10)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2024,3968.963751,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
1,AFE,2023,3948.142721,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
2,AFE,2022,3974.244214,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
3,AFE,2021,3933.580905,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
4,AFE,2020,3861.068816,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
5,AFE,2019,4073.653989,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
6,AFE,2018,4088.402831,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
7,AFE,2017,4085.466233,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
8,AFE,2016,4074.187591,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
9,AFE,2015,4075.159661,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern

In [10]:
lifeexpect_url= "https://api.worldbank.org/v2/country/all/indicator/SP.DYN.LE00.IN"

In [12]:
lifeexpect_response= requests.get(lifeexpect_url, params=params).json()

In [14]:
lifeexpect_df = pd.json_normalize(lifeexpect_response[1])

In [15]:
print(lifeexpect_df.columns.tolist())

['countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal', 'indicator.id', 'indicator.value', 'country.id', 'country.value']

In [16]:
lifeexpect_df.head(10)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2024,NaN,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
1,AFE,2023,65.146291,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
2,AFE,2022,64.487020,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
3,AFE,2021,62.979999,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
4,AFE,2020,63.766484,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
5,AFE,2019,63.857261,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
6,AFE,2018,63.330691,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
7,AFE,2017,62.591275,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
8,AFE,2016,62.167981,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
9,AFE,2015,61.713031,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern

In [17]:
print(gdp_df.columns.tolist())

['countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal', 'indicator.id', 'indicator.value', 'country.id', 'country.value']

In [18]:
print(lifeexpect_df.columns.tolist())

['countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal', 'indicator.id', 'indicator.value', 'country.id', 'country.value']

In [22]:
merged = pd.merge(
    gdp_df,
    lifeexpect_df,
    on=['countryiso3code', 'date', 'country.id', 'country.value'],
    how="inner"
)

In [23]:
print(merged)

      countryiso3code  date      value_x unit_x obs_status_x  decimal_x  \
0                 AFE  2024  3968.963751                              0
1                 AFE  2023  3948.142721                              0
2                 AFE  2022  3974.244214                              0
3                 AFE  2021  3933.580905                              0
4                 AFE  2020  3861.068816                              0
...               ...   ...          ...    ...          ...        ...
17285             ZWE  1964          NaN                              0
17286             ZWE  1963          NaN                              0
17287             ZWE  1962          NaN                              0
17288             ZWE  1961          NaN                              0
17289             ZWE  1960          NaN                              0

          indicator.id_x                                  indicator.value_x  \
0      NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
1      NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
2      NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
3      NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
4      NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
...                  ...                                                ...
17285  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
17286  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
17287  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
17288  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
17289  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...

      country.id                country.value    value_y unit_y obs_status_y  \
0             ZH  Africa Eastern and Southern        NaN
1             ZH  Africa Eastern and Southern  65.146291
2             ZH  Africa Eastern and Southern  64.487020
3             ZH  Africa Eastern and Southern  62.979999
4             ZH  Africa Eastern and Southern  63.766484
...          ...                          ...        ...    ...          ...
17285         ZW                     Zimbabwe  55.431000
17286         ZW                     Zimbabwe  54.942000
17287         ZW                     Zimbabwe  54.453000
17288         ZW                     Zimbabwe  53.966000
17289         ZW                     Zimbabwe  53.492000

       decimal_y  indicator.id_y                        indicator.value_y
0              0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)
1              0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)
2              0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)
3              0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)
4              0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)
...          ...             ...                                      ...
17285          0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)
17286          0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)
17287          0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)
17288          0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)
17289          0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)

[17290 rows x 16 columns]

In [24]:
print(merged.head())

  countryiso3code  date      value_x unit_x obs_status_x  decimal_x  \
0             AFE  2024  3968.963751                              0
1             AFE  2023  3948.142721                              0
2             AFE  2022  3974.244214                              0
3             AFE  2021  3933.580905                              0
4             AFE  2020  3861.068816                              0

      indicator.id_x                                  indicator.value_x  \
0  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
1  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
2  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
3  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
4  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...

  country.id                country.value    value_y unit_y obs_status_y  \
0         ZH  Africa Eastern and Southern        NaN
1         ZH  Africa Eastern and Southern  65.146291
2         ZH  Africa Eastern and Southern  64.487020
3         ZH  Africa Eastern and Southern  62.979999
4         ZH  Africa Eastern and Southern  63.766484

   decimal_y  indicator.id_y                        indicator.value_y
0          0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)
1          0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)
2          0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)
3          0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)
4          0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)

In [25]:
country_url = "https://api.worldbank.org/v2/country"

In [26]:
params = {"format": "json", "per_page": 500}

In [27]:
country_res = requests.get(country_url, params=params).json()

In [28]:
country_df = pd.json_normalize(country_res[1])

In [29]:
print(country_df.columns.tolist())

['id', 'iso2Code', 'name', 'capitalCity', 'longitude', 'latitude', 'region.id', 'region.iso2code', 'region.value', 'adminregion.id', 'adminregion.iso2code', 'adminregion.value', 'incomeLevel.id', 'incomeLevel.iso2code', 'incomeLevel.value', 'lendingType.id', 'lendingType.iso2code', 'lendingType.value']

In [30]:
print(country_df.head())

    id iso2Code                         name capitalCity longitude latitude  \
0  ABW       AW                        Aruba  Oranjestad  -70.0167  12.5167
1  AFE       ZH  Africa Eastern and Southern
2  AFG       AF                  Afghanistan       Kabul   69.1761  34.5228
3  AFR       A9                       Africa
4  AFW       ZI   Africa Western and Central

  region.id region.iso2code  \
0       LCN              ZJ
1        NA              NA
2       MEA              ZQ
3        NA              NA
4        NA              NA

                                        region.value adminregion.id  \
0                         Latin America & Caribbean
1                                         Aggregates
2  Middle East, North Africa, Afghanistan & Pakistan            MNA
3                                         Aggregates
4                                         Aggregates

  adminregion.iso2code                                  adminregion.value  \
0
1
2                   XQ  Middle East, North Africa, Afghanistan & Pakis...
3
4

  incomeLevel.id incomeLevel.iso2code incomeLevel.value lendingType.id  \
0            HIC                   XD       High income            LNX
1             NA                   NA        Aggregates
2            LIC                   XM        Low income            IDX
3             NA                   NA        Aggregates
4             NA                   NA        Aggregates

  lendingType.iso2code lendingType.value
0                   XX    Not classified
1                             Aggregates
2                   XI               IDA
3                             Aggregates
4                             Aggregates

In [31]:
country_df = country_df[country_df["region.id"] != "NA"]

In [32]:
country_df = country_df[["id", "name", "region.value", "incomeLevel.value", "capitalCity"]]

In [33]:
fullmerge = pd.merge(
    merged,
    country_df,
    left_on="countryiso3code",   
    right_on="id",               
    how="left"
)

In [34]:
print(fullmerge.head())

  countryiso3code  date      value_x unit_x obs_status_x  decimal_x  \
0             AFE  2024  3968.963751                              0
1             AFE  2023  3948.142721                              0
2             AFE  2022  3974.244214                              0
3             AFE  2021  3933.580905                              0
4             AFE  2020  3861.068816                              0

      indicator.id_x                                  indicator.value_x  \
0  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
1  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
2  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
3  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
4  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...

  country.id                country.value  ...  unit_y obs_status_y decimal_y  \
0         ZH  Africa Eastern and Southern  ...                              0
1         ZH  Africa Eastern and Southern  ...                              0
2         ZH  Africa Eastern and Southern  ...                              0
3         ZH  Africa Eastern and Southern  ...                              0
4         ZH  Africa Eastern and Southern  ...                              0

   indicator.id_y                        indicator.value_y   id name  \
0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  NaN  NaN
1  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  NaN  NaN
2  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  NaN  NaN
3  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  NaN  NaN
4  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  NaN  NaN

  region.value incomeLevel.value capitalCity
0          NaN               NaN         NaN
1          NaN               NaN         NaN
2          NaN               NaN         NaN
3          NaN               NaN         NaN
4          NaN               NaN         NaN

[5 rows x 21 columns]

In [ ]:
#something is wrong

In [36]:
print(fullmerge2.head())

  countryiso3code  date      value_x unit_x obs_status_x  decimal_x  \
0             AFE  2024  3968.963751                              0
1             AFE  2023  3948.142721                              0
2             AFE  2022  3974.244214                              0
3             AFE  2021  3933.580905                              0
4             AFE  2020  3861.068816                              0

      indicator.id_x                                  indicator.value_x  \
0  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
1  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
2  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
3  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
4  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...

  country.id                country.value  ...  unit_y obs_status_y decimal_y  \
0         ZH  Africa Eastern and Southern  ...                              0
1         ZH  Africa Eastern and Southern  ...                              0
2         ZH  Africa Eastern and Southern  ...                              0
3         ZH  Africa Eastern and Southern  ...                              0
4         ZH  Africa Eastern and Southern  ...                              0

   indicator.id_y                        indicator.value_y   id name  \
0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  NaN  NaN
1  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  NaN  NaN
2  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  NaN  NaN
3  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  NaN  NaN
4  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  NaN  NaN

  region.value incomeLevel.value capitalCity
0          NaN               NaN         NaN
1          NaN               NaN         NaN
2          NaN               NaN         NaN
3          NaN               NaN         NaN
4          NaN               NaN         NaN

[5 rows x 21 columns]

In [39]:
fullmerge2 = merged.merge(
    country_df,
    left_on="country.id",   
    right_on="id",               
    how="left"
)

In [40]:
print(fullmerge2.head())

  countryiso3code  date      value_x unit_x obs_status_x  decimal_x  \
0             AFE  2024  3968.963751                              0
1             AFE  2023  3948.142721                              0
2             AFE  2022  3974.244214                              0
3             AFE  2021  3933.580905                              0
4             AFE  2020  3861.068816                              0

      indicator.id_x                                  indicator.value_x  \
0  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
1  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
2  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
3  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
4  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...

  country.id                country.value  ...  unit_y obs_status_y decimal_y  \
0         ZH  Africa Eastern and Southern  ...                              0
1         ZH  Africa Eastern and Southern  ...                              0
2         ZH  Africa Eastern and Southern  ...                              0
3         ZH  Africa Eastern and Southern  ...                              0
4         ZH  Africa Eastern and Southern  ...                              0

   indicator.id_y                        indicator.value_y   id name  \
0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  NaN  NaN
1  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  NaN  NaN
2  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  NaN  NaN
3  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  NaN  NaN
4  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  NaN  NaN

  region.value incomeLevel.value capitalCity
0          NaN               NaN         NaN
1          NaN               NaN         NaN
2          NaN               NaN         NaN
3          NaN               NaN         NaN
4          NaN               NaN         NaN

[5 rows x 21 columns]

In [41]:
fullmerge3 = merged.merge(
    country_df,
    left_on="countryiso3code",   
    right_on="id",               
    how="inner"
)

In [42]:
print(fullmerge3.head())

  countryiso3code  date      value_x unit_x obs_status_x  decimal_x  \
0             AFG  2024          NaN                              0
1             AFG  2023  1983.812620                              0
2             AFG  2022  1981.710168                              0
3             AFG  2021  2144.166570                              0
4             AFG  2020  2769.685745                              0

      indicator.id_x                                  indicator.value_x  \
0  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
1  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
2  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
3  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
4  NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...

  country.id country.value  ...  unit_y obs_status_y decimal_y  \
0         AF   Afghanistan  ...                              0
1         AF   Afghanistan  ...                              0
2         AF   Afghanistan  ...                              0
3         AF   Afghanistan  ...                              0
4         AF   Afghanistan  ...                              0

   indicator.id_y                        indicator.value_y   id         name  \
0  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  AFG  Afghanistan
1  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  AFG  Afghanistan
2  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  AFG  Afghanistan
3  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  AFG  Afghanistan
4  SP.DYN.LE00.IN  Life expectancy at birth, total (years)  AFG  Afghanistan

                                        region.value incomeLevel.value  \
0  Middle East, North Africa, Afghanistan & Pakistan        Low income
1  Middle East, North Africa, Afghanistan & Pakistan        Low income
2  Middle East, North Africa, Afghanistan & Pakistan        Low income
3  Middle East, North Africa, Afghanistan & Pakistan        Low income
4  Middle East, North Africa, Afghanistan & Pakistan        Low income

  capitalCity
0       Kabul
1       Kabul
2       Kabul
3       Kabul
4       Kabul

[5 rows x 21 columns]